
@model CodyleOffical.Models.ViewModels.ShoppingCartVM


<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cart</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/checkout.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var maxLength = 15;
            $(".show-read-more").each(function () {
                var myStr = $(this).text();
                if ($.trim(myStr).length > maxLength) {
                    var newStr = myStr.substring(0, maxLength);
                    var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                    $(this).empty().html(newStr);
                    $(this).append(' <span href="javascript:void(0);" class="read-more">...</span>');
                    $(this).append('<span class="more-text">' + removedStr + '</span>');
                }
            });
            $(".read-more").click(function () {
                $(this).siblings(".more-text").contents().unwrap();
                $(this).remove();
            });
        });
    </script>
</head>

<body>
 
    <section class="cart">
        <div class="elements Info">

            @foreach (var item in Model.ListCart)
            {
               
                <div class="changeableelements">
                    <div class="prdoucticon">

                        <img src="~/Photos/WelcomeEvents.png" width="80px">
                        <div class="iconinfo">
                            <p class="show-read-more">@item.Event.Title</p>
                            <div class="countInput">
                                <a asp-action="minus" asp-route-cartId="@item.Id" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                    class="minus">
                                    -
                                </a>
                                <input type="number" min="1" max="5" value="@item.Count">
                                <a asp-action="plus" asp-route-cartId="@item.Id" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                    class="plus">
                                    +
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="price">@item.Event.Price TL  <span class="spancount">x @item.Count</span></p>
                    <a asp-action="remove" asp-route-cartId="@item.Id" class="trashcan"><img src="~/icons/trashcan.png" width="15px"></a>

                </div>
                <br> <br>
                <hr>
            }
           

            <div class="total-price"> 
                <h1>Total</h1>
                <p>@Model.CartTotal.ToString() TL</p>
            </div>

        </div>


        <div class="checkout Info">
            <img src="~/Photos/logoicon.png" width="120px">
            <div class="coupIn">
                <input type="text" placeholder="Gift Code !">
                <button style="margin: 0px 0px 0px 10px ;">Apply</button>
            </div>
            <div class="buttons">
                <a asp-controller="Pdfcreator" asp-action="CreatePDF">Checkout</a>
                <a asp-controller="Home" asp-action="Events" asp-area="User" style="margin: 5px 0px ;">Continue Shopping</a>
            </div>

            <p>any problem? contact <a href="mailto: support@codyle.com">support@codyle.com</a></p>
        </div>
    </section>
   
</body>

</html>
