@model IEnumerable<Event>
@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ClubPage.css">
    <link rel="stylesheet" href="~/css/ClubPage.css" asp-append-version="true" />
    <title>Codyle Student Club</title>
</head>
<body>
    <div class="welcome">
        <p >
            Welcome to
            <span style=" color:#FF2E63"> Codyle</span>
            Student Club
        </p>
    </div>
    

    <div class="description">
        <div class="image"> <img src="~/Photos/logo5.png"> </div>
        <div class="descriptiontext" style="background-color:#252a34a4;">
            <p>
                We have the perfect balance between entertainment and education.<br /><br />
                We guide young programmers and allow them to reach their full potential by providing them with many opportunities such as:
                Educational Events, Competitions, Boot camps, and Internships
            </p>
        </div>
    </div>


    <section class="EventSection">
        <h2>Upcoming Events</h2>
        <div class="eventBox">
            @foreach (var Event in Model.OrderByDescending(p => p.DatePosted).ToList().Take(3))
            {

                <div class="Event right">
                    @if (Event.Price > 0)
                    {
                        <a asp-action="EventDetails" asp-route-eventId="@Event.Id">

                            <img alt="@Event.Title" class="EventImg" src="@Event.ImageUrl" draggable="false">
                            <div class="EventTicket">
                                <div class="line">
                                    <div style="color: transparent ; -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;">
                                        3
                                    </div>
                                </div>
                                <div class="Eventinfo">
                                    <div class="EventTitle">
                                        <h3 class="show-read-more">@Event.Title</h3>
                                        <div class="Eventlocation">
                                            <img alt="Event Location" src="/icons/location.png" height="14px" draggable="false">
                                            <p>Üsküdar University Central Campus</p>
                                        </div>
                                    </div>
                                    <div class="Eventdate">
                                        <img alt="Event Date" src="/icons/Date.png" height="14px" draggable="false">
                                        <p>@Html.DisplayFor(modelItem => Event.Date)</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }


                    else if (Event.Price == 0)
                    {
                        <a asp-action="FreeEventDetails" asp-route-eventId="@Event.Id">

                            <img alt="@Event.Title" class="EventImg" src="@Event.ImageUrl" draggable="false">
                            <div class="EventTicket">
                                <div class="line">
                                    <div style="color: transparent ; -webkit-touch-callout: none;
                             -webkit-user-select: none;
                             -khtml-user-select: none;
                               -moz-user-select: none;
                                     -ms-user-select: none;
                                             user-select: none;">
                                        3
                                    </div>
                                </div>
                                <div class="Eventinfo">
                                    <div class="EventTitle">
                                        <h3 class="show-read-more">@Event.Title</h3>
                                        <div class="Eventlocation">
                                            <img alt="Event Location" src="/icons/location.png" height="14px" draggable="false">
                                            <p>Üsküdar University Central Campus</p>
                                        </div>
                                    </div>
                                    <div class="Eventdate">
                                        <img alt="Event Date" src="/icons/Date.png" height="14px" draggable="false">
                                        <p>@Html.DisplayFor(modelItem => Event.Date)</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }

                </div>


            }

        </div>
    </section>


   
    <div class="signup">
        <p class="joinustext">
            Sign up Now to Become a Member!
        </p>

        <a asp-controller="Home" asp-action="CSCClubMembers" asp-area="User" id="join-us-btn">
            <div class="join-us-btn">
                <div class="button" id="button-3">
                    <div id="circle"></div>
                    <p>JOIN US!</p>
                </div>
            </div>
        </a>

    </div>
</body>
