@model IEnumerable<Event>
@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
      <link rel="stylesheet" href="~/css/events.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="description" content="Codyle Events">
    <meta name="keywords" content="Bootcamps, Event, Events">
    <title>Events</title>
</head>
<section class="welcome">
      
  <div class="welcomegrid">
        <img class="weclomephoto" src="/Photos/WelcomeEvents.webp" alt="Events pageas" height="480" draggable="false">
    <div class="textandstartbutton">
      <h1>Upcoming<br>Events</h1>
      <a style="cursor:default;">Book A Ticket Now</a>

    </div>
  </section>

 <section class="EventSection">

    <div class="eventBox">
        @foreach (var Event in Model.OrderByDescending(p => p.DatePosted).ToList().Take(3))
        { 
          
      <div class="Event right">
          @if (Event.Price > 0){
                    <a asp-action="EventDetails" asp-route-eventId="@Event.Id">

                        <img alt="@Event.Title" class="EventImg" src="@Event.ImageUrl" draggable="false">
                        <div class="EventTicket">
                            <div class="line">
                                <div style="color: transparent ; -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;">
                                    3
                                </div>
                            </div>
                            <div class="Eventinfo">
                                <div class="EventTitle">
                                    <h3 class="show-read-more">@Event.Title</h3>
                                    <div class="Eventlocation">
                                        <img alt="Event Location" src="/icons/location.png" height="14px" draggable="false">
                                        <p>Üsküdar University Central Campus</p>
                                    </div>
                                </div>
                                <div class="Eventdate">
                                    <img alt="Event Date" src="/icons/Date.png" height="14px" draggable="false">
                                    <p>@Html.DisplayFor(modelItem => Event.Date)</p>
                                </div>
                            </div>
                        </div>
                    </a>
          }


                else if (Event.Price == 0){
                    <a asp-action="FreeEventDetails" asp-route-eventId="@Event.Id">

                        <img alt="@Event.Title" class="EventImg" src="@Event.ImageUrl" draggable="false">
                        <div class="EventTicket">
                            <div class="line">
                                <div style="color: transparent ; -webkit-touch-callout: none;
                             -webkit-user-select: none;
                             -khtml-user-select: none;
                               -moz-user-select: none;
                                     -ms-user-select: none;
                                             user-select: none;">
                                    3
                                </div>
                            </div>
                            <div class="Eventinfo">
                                <div class="EventTitle">
                                    <h3 class="show-read-more">@Event.Title</h3>
                                    <div class="Eventlocation">
                                        <img alt="Event Location" src="/icons/location.png" height="14px" draggable="false">
                                        <p>Üsküdar University Central Campus</p>
                                    </div>
                                </div>
                                <div class="Eventdate">
                                    <img alt="Event Date" src="/icons/Date.png" height="14px" draggable="false">
                                    <p>@Html.DisplayFor(modelItem => Event.Date)</p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
              
      </div>

    
      }
    </div>
    
  </section>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


                                    <script>
    $(document).ready(function () {
        var maxLength = 35;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <span href="javascript:void(0);" class="read-more">...</span>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>