
@model CodyleOffical.Models.ViewModels.IndexVM

@{
   


    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="description" content="Codyle Homepage">
    <meta name="keywords" content="Uskudar, Event, Tech">
    <meta name="author" content="Mohammad Soqar">   
    <title>Codyle</title>
</head>



<section class="welcome show-on-scroll">
    <div class="welcomegrid">
        <div class="main-photo">
            <img class="weclomephoto " src="~/Photos/welcomephoto.webp" alt="welcome photo" height="380" draggable="false">
        </div>
        <div class="heading">
            <h1 class="welcometext">
                CODYLE family<br>is here for you..<br><a class="getstarted" asp-controller="Home" asp-action="Aboutus" asp-area="User">
                    Learn
                    More..
                </a>
            </h1>
        </div>
</section>
  <!-----------------------Services----------------------------->

<section class="servicesSection">
    <h2>
        Checkout our <p class="boldtext">Services</p>

    </h2>
    <section class="service-Section">

        <div class="service1">
            <h3>Web Design & Rebrand</h3>

            <div class="service1-unvisible prevent-select">
                <p>
                    Transform your online presence with customized website design and branding that aligns with your
                    vision.
                </p>
                <a href="#">Get A Free Consult</a>
            </div>
        </div>

        <div class="service1">
            <h3>Front-End Development</h3>

            <div class="service1-unvisible prevent-select">
                <p>Create engaging web experiences with modern HTML, CSS, and JavaScript development techniques.</p>
                <a href="#">Get A Free Consult</a>
            </div>
        </div>

        <div class="service1">
            <h3>Back-End Development</h3>

            <div class="service1-unvisible prevent-select">
                <p>
                    Build robust websites and applications with secure server-side scripting and database integration.
                </p>
                <a href="#">Get A Free Consult</a>
            </div>
        </div>

        <div class="service1">
            <h3>Website Maintenance</h3>

            <div class="service1-unvisible prevent-select">
                <p>
                    Keep your website secure, up-to-date, and running smoothly with regular maintenance, and performance
                    optimizations.
                </p>
                <a href="#">Get A Free Consult</a>
            </div>
        </div>

        <div class="service1">
            <h3>Search Engine Optimization</h3>

            <div class="service1-unvisible prevent-select">
                <p>
                    Drive organic traffic and improve search rankings with strategic keyword optimization and SEO best
                    practices.
                </p>
                <a href="#">Get A Free Consult</a>
            </div>
        </div>


        <div class="service1">
            <h3>WordPress Development</h3>

            <div class="service1-unvisible prevent-select">
                <p>
                    Leverage the flexibility and functionality of WordPress to create dynamic and user-friendly websites.
                </p>
                <a href="#">Get A Free Consult</a>
            </div>
        </div>




    </section>

    <!--  <img src="Photos/Web.png" alt="Web Development">
      <div class="textSide-Service">
        <h2>Web Development</h2>
        <p>You want to take your business to the digital world ? CODYLE is the answer. We deliver efficient work
          services with creativity adding more value to your Business</p>
        <a class="getstarted" href="WebDev.html">Learn
          More..</a>

      </div> -->

</section>
  <!-----------------------Video----------------------------->

  @*<section class="WhatIsCodyle">
    <div class="whatiscodyletext">
        <h2>What is</h2> <img alt="Codyle" src="/Photos/Logo.png" height="80px" draggable="false">
      <h2>?</h2>
    </div>

  </section>
*@
  <!-----------------------Events----------------------------->
<section class="EventSection">
    <h2>Upcoming Events</h2>
    <div class="eventBox">

           @foreach (var Event in Model.Event.OrderByDescending(p => p.DatePosted).ToList().Take(3))
        {
        <div class="Event right">

                <a asp-action="EventDetails" asp-route-eventId="@Event.Id">

                    <img alt="@Event.Title" class="EventImg" src="@Event.Thumbnail" draggable="false">

                <div class="EventTicket">

                    <div class="line"></div>
                    <div class="Eventinfo">

                        <div class="Title-Location">
                            <div class="EventTitle">
                                    <h3 class="show-read-more">@Event.Title</h3>
                            </div>

                            <div class="Eventlocation">
                                <img alt="Event Location" src="icons/location.png" height="14px" draggable="false">
                                    <p>@Event.Location</p>
                            </div>
                        </div>


                        <div class="Eventdate">
                            <img alt="Event Date" src="icons/Date.png" height="14px" draggable="false">
                              
                                    
                              
                                    @if (@Event.StartDate.HasValue)
                                    {
                                    <p>@Event.StartDate.Value.ToString("dd MMM")</p>
                                    }
                                    else
                                    {
                                    <p>Date not available.</p>
                                    }
                        </div>

                    </div>
                </div>

            </a>
        </div>
        }





    </div>
</section>

@*
  <section class="EventSection">
    <h2>Upcoming Events</h2>
    <div class="eventBox">
      @foreach (var Event in Model.Event.OrderByDescending(p => p.DatePosted).ToList().Take(3))
        {

            <div class="Event right">
                @if (Event.Price > 0)
                {
                    <a asp-action="EventDetails" asp-route-eventId="@Event.Id">

                        <img alt="@Event.Title" class="EventImg" src="@Event.ImageUrl" draggable="false">
                        <div class="EventTicket">
                            <div class="line">
                                <div style="color: transparent ; -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;">
                                    3
                                </div>
                            </div>
                            <div class="Eventinfo">
                                <div class="EventTitle">
                                    <h3 class="show-read-more">@Event.Title</h3>

                                    <div class="Eventlocation">
                                        <img alt="Event Location" src="/icons/location.png" height="14px" draggable="false">
                                        @if (Event.OnlineEvent == true)
                                        {
                                            <p>Online</p>

                                        }
                                        else
                                        {
                                            <p>Üsküdar University Central Campus</p>

                                        }
                                    </div>
                                </div>
                                <div class="Eventdate">
                                    <img alt="Event Date" src="/icons/Date.png" height="14px" draggable="false">
                                    <p>@Html.DisplayFor(modelItem => Event.Date)</p>
                                </div>
                            </div>
                        </div>
                    </a>
                }


                else if (Event.Price == 0)
                {
                    <a asp-action="EventDetails" asp-route-eventId="@Event.Id">

                        <img alt="@Event.Title" class="EventImg" src="@Event.ImageUrl" draggable="false">
                        <div class="EventTicket">
                            <div class="line">
                                <div style="color: transparent ; -webkit-touch-callout: none;
                             -webkit-user-select: none;
                             -khtml-user-select: none;
                               -moz-user-select: none;
                                     -ms-user-select: none;
                                             user-select: none;">
                                    3
                                </div>
                            </div>
                            <div class="Eventinfo">
                                <div class="EventTitle">
                                    <h3 class="show-read-more">@Event.Title</h3>
                                    <div class="Eventlocation">
                                        <img alt="Event Location" src="/icons/location.png" height="14px" draggable="false">
                                        @if (Event.OnlineEvent == true)
                                        {
                                            <p>Online</p>

                                        }
                                        else
                                        {
                                            <p>Üsküdar University Central Campus</p>

                                        }
                                    </div>
                                </div>
                                <div class="Eventdate">
                                    <img alt="Event Date" src="/icons/Date.png" height="14px" draggable="false">
                                    <p>@Html.DisplayFor(modelItem => Event.Date)</p>
                                </div>
                            </div>
                        </div>
                    </a>
                }


            </div>


        }


    </div>
  </section>*@


<section class="roadmapSection">
    <div class="Text-Pic-RoadmapSec">
        <div class="Text-RoadmapSec">
            <p>Start Learning Now</p>
            <h2>Popular Roadmap :</h2>
            <p>
                Why do you need Roadmaps ?<br>
                A roadmap for any skill you want to learn is just like using Google Maps to reach your destination.
            </p>
        </div>

        <img class="map" alt="Roadmap" src="~/Photos/map.png" height="300px">

    </div>
    <div class="Roadslinks">
        <a target="_blank"
           href="https://coggle.it/diagram/Yz306HjkbLZ-rYy5/t/frontend/13d15b902239ca4d8d2d08af166ff3bf49a441442e2ed6b76ef9074882318300">

            <h2 translate="no">Frontend</h2>
            <p>Step by step to become a frontend developer</p>

        </a>

        <a target="_blank"
           href="https://coggle.it/diagram/YzNgxECwZkiUmNRr/t/backend/2db9ae95d8460d01732a724b9953137663f4b9dc14a32faacb3522eef665611c">

            <h2 translate="no">Backend</h2>
            <p>Step by step to become a backend developer</p>

        </a>
        <a target="_blank"
           href="https://coggle.it/diagram/YzQOI3jkbLZ-bon1/t/react/9e22efa1e4f9e2deeefa168af98a77c31c5d2cd617dced6bd7d0339b8e122961">

            <h2 translate="no">React</h2>
            <p>Step by step to become a React developer</p>

        </a>

        <a target="_blank"
           href="https://coggle.it/diagram/YzQOEOfA2wMrvnwU/t/python/8d74cf93441090ad607fc542a8e7f0c04129e03f0309f44eabf89215466ae290">

            <h2 translate="no">Python</h2>
            <p>Step by step to become a python developer</p>

        </a>
    </div>
</section>
  <!-----------------------Blogs----------------------------->

  <section class="BlogSection">
    <h2>Checkout our latest<br>Articles & News</h2>
    <div class="blogBox">
        @foreach (var blog in Model.Blog.OrderByDescending(p => p.DatePosted).ToList().Take(3))
        {

            <a asp-action="BlogDetails" asp-route-id="@blog.Id" class="blog-link">
                <div class="blog right">

                    <img alt="@blog.Title" src="@blog.ImageUrl"
                         height="200" draggable="false">

                         <div class="text-area">
                        <p>@blog.Date</p>
                        <h3 class="show-read-more">@blog.Title</h3>
                        <p style="color: #ffffff;">READ MORE</p>
                         </div>
                   
                </div>
            </a>



            
        }
    </div>
  </section>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/js/show-on-scroll.js"></script>
<script src="~/js/Services-Index.js"></script>

<script>
    $(document).ready(function () {
        var maxLength = 35;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <span href="javascript:void(0);" class="read-more">...</span>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });

</script>